:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    font-size: 16px;
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.bold {
    font-weight: 700;
}

body {
    background-color: var(--CharcoalGrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: var(--White);
    padding: 1.2rem;
    border-radius: 16px;
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}

#card .desktopImage {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

#card .mobileImage {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1;
    padding-left: 3rem;
    max-width: 50%;
}

input, button {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
}

input {
    border: 2px solid var(--Grey);
    outline: none;
}

input:focus {
    border-color: var(--CharcoalGrey);
}

button {
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    border: none;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, var(--Tomato), orange);
}

.title {
    font-size: 2vw;
}

.bullet {
    padding: 6px 0;
    display: flex;
}

.bullet img {
    line-height: 150%;
    padding-right: 1rem;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

label, small {
    font-size: 12px;
}

small {  
    color: var(--Tomato);
    visibility: hidden;
}

.error small {
    visibility: visible;
}

.error input {
    border-color: var(--Tomato);
    color: var(--Tomato);
    background-color: rgba(255, 98, 87, 0.20);
}

.success#card {
    display: none;
}

.success#thanks {
    display: flex;
}

#thanks {
    background-color: var(--White);
    max-width: 30%;
    padding: 3rem;
    border-radius: 16px;
    display: none;
    flex-direction: column;
    gap: 1rem;
}

#thanks img {
    max-height: 50px;
    align-self: flex-start;
    margin-bottom: 1rem;
}

#thanks .title {
    line-height: 1;
}

@media (max-width: 600px) {
    #card, #thanks{
        flex-direction: column;
        max-height: 100vh;
        height: 100vh;
        max-width: 100vw;
        width: 100vw;
        border-radius: 0;
        padding: 0;
        justify-content: flex-start;
    }
    #card .desktopImage {
        display: none;
    }
    #card .mobileImage {
        display: block;
    }
    form {
        max-width: 100%;
        padding: 1.4rem;
        height: 100%;
        justify-content: space-between;
    }
    #thanks {
        padding: 1.8rem;
        padding-top: 40%;
    }
    #dismiss {
        margin-top: auto;
    }
    .title {
        font-size: 3rem;
    }
}